<div style="margin: 1%">
<h4>Listing Profiles</h4>
<%= link_to 'New Profile', :action => 'new' %>
<table>
  <tr>
    <th>Id</th>
    <th>email</th>
    <th>password</th>
  </tr>

  <% @profiles.each do |profile| %>
    <tr>
      <td><%= profile.id%></td>
      <td><%= profile.email %></td>
      <td>XXXXXXXXXXXXXXX</td>
      <td><%= link_to 'Show Mails', :controller => "mails", :action => "profile", :id => profile %></td>
    </tr>
  <% end %>

</table>

<% if flash[:error] -%>
        <p class='error'><%= flash[:error] %></p>
    <% end -%>

    <% if flash[:notice] -%>
        <p class='notice'><%= flash[:notice] %></p>
    <% end -%>
</div>