<% @page_title = "UserAuth | Login" -%>
<div class= "Sign_Form" style="margin: 10%;margin-left: 36%;background: white;padding: 5%;margin-right: 35%;border-radius: 25px;">
  <h1>Log in</h1> <%= link_to 'SignUp', :action => 'register' %>
  <%= form_tag(:action => 'login_attempt') do %>
    <p>Username or Email:</br> <%= text_field_tag(:username_or_email) %></p>
    <p>Password:</br> <%= password_field_tag :login_password %></p>
    <%= submit_tag("Log In") %>
  <% end %>


<% if flash[:error] -%>
        <p class='error'><%= flash[:error] %></p>
    <% end -%>

    <% if flash[:notice] -%>
        <p class='notice'><%= flash[:notice] %></p>
    <% end -%>
    </div>