<!DOCTYPE html>
<html>
  <head>
    <title>MailManager</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <a style='float: right; margin: 1%; ' href="/account/logout"> Logout </a>
    <a style='float: right; margin: 1%;' href="/profiles/all"> Profiles </a>
    <%= yield %>
  </body>
</html>
